<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script> {% if name %}
    <title>Hello {{ name }}!</title>

    {% else %}
    <title>Hello, World!</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
    {% macro build_list(list) %}
    <!-- <div style="overflow-y: scroll; height: 93vh; padding-top: 10px;"> -->

    {% for patient in list %}
    <div class="box is-selected">
        <a href="#">
            <div class="media" >
                <!-- <div class="media-left">
                    <div class="content">
                        <p class="subtitle is-4">1</p>
                    </div>
                </div> -->
                <div class="media-content">
                    <div class="content">
                        <h1 >{{patient.get_name()}}</h1>
                    </div>
                    <div class="level">
                        <div class="level-left"></div>
                        <div class="level-right">
                            <div class="level-item">
                                <span class="tag is-warning">
                                    10min
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-right">
                    <div class="content">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- {{patient.get_name()}}</li> -->
    {% endfor %}
    <!-- </div> -->

    {% endmacro %} {% include "header.html" %}
    <div class="columns" style="margin: 0 20px;">
        <div class="column is-one-quarter" style="overflow-y: scroll; height: 94vh; padding: 20px auto;">
            <div class="content">
                {{build_list(data)}}
            </div>
        </div>
        <div class="column">
            <h1 class="title">{{data[0].get_name()}}</h1>
            <h1>{{data[0].get_healthCardId()}}</h1>


        </div>
    </div>
</body>

</html>
