<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script> {% if name %}
    <title>Hello {{ name }}!</title>

    {% else %}
    <title>Hello, World!</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
    {% macro build_list(list) %}
    <!-- <div style="overflow-y: scroll; height: 93vh; padding-top: 10px;"> -->

    {% for patient in list %}
    <div class="box is-selected">
        <a href="#">
            <div class="media">
                <!-- <div class="media-left">
                    <div class="content">
                        <p class="subtitle is-4">1</p>
                    </div>
                </div> -->
                <div class="media-content">
                    <div class="content">
                        <h1>{{patient.get_name()}}</h1>
                    </div>
                    <div class="level">
                        <div class="level-left"></div>
                        <div class="level-right">
                            <div class="level-item">
                                <span class="tag is-warning">
                                    10min
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-right">
                    <div class="content">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- {{patient.get_name()}}</li> -->
    {% endfor %}
    <!-- </div> -->

    {% endmacro %} {% with val="Login" %} {% include "header.html" %}{% endwith %}
    <div class="columns" style="margin: 0 20px;">
        <div class="column is-one-quarter" style="overflow-y: scroll; height: 94vh; padding: 20px auto;">
            <div class="content">
                {{build_list(data)}}
            </div>
        </div>
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <p class="level-item  has-text-grey-lighter">
                        Appointment ID: #{{12312419024}}
                    </p>
                </div>
                <p class="level-item  has-text-centered	 has-text-grey-lighter">
                    Time Created: 2018-02-18 5:00
                </p>
                <div class="level-right">

                    <p class="level-item">
                        <span class="tags has-addons">
                            <span class="tag is-medium">ETA</span>
                            <span class="tag is-warning is-medium" id="warningLevel">
                                <i class="fas fa-exclamation-triangle"></i> 10min
                            </span>
                        </span>
                    </p>
                </div>
            </div>

            <section class="section">
                <div class="container">

                    <h1 class="title">{{data[0].get_name()}}</h1>
                    <h2 class="subtitle">
                        #{{data[0].get_healthCardId()}}
                        <span style="margin-left: 20px" class="has-text-grey is-size-6">Expires: {{data[0].get_expiryDate()}}</span>
                    </h2>
                    <div class="level">
                        <div class="level-item">
                            <div class="field">
                                <label class="label">Date of Birth</label>
                                <div class="control">
                                    <input class="input is-static" type="date" name="dateOfBirth" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="level-item">

                            <div class="field">
                                <label class="label">Sex</label>
                                <div class="control">
                                    <input class="input is-static" type="text" name="sex" value={{data[0].get_sex()}} readonly>
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label">Phone Number</label>
                                <div class="control">
                                    <input class="input is-static" type="tel" name="phoneNumber" value={{data[0].get_phoneNumber()}} readonly>
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label">Primary Address</label>
                                <div class="control">
                                    <input class="input is-static" type="text" name="primaryAddress" value={{data[0].get_primaryAddress()}} readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="level">
                    <div class="level-left">
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="tags has-addons">
                                <span class="tag is-medium">Emergency Level</span>
                                <span class="tag is-warning is-medium" id="warningLevel">
                                    <i class="fas fa-exclamation-triangle"></i> Warning
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Problem:</label>
                    <textarea class="textarea is-static" name="shortDescription" value="FATTTTYAYASHDKJASHKJDHSAKJDHASK H ASJKHDJKASHDKJSAJH DAS DSADSA DKJASH"
                        style="resize: none" readonly></textarea>
                </div>
                <div class="field">
                    <label class="label">Other information:</label>
                    <textarea class="textarea is-static" name="otherInfo" value={{data[0].get_health_condition()}} style="resize: none" readonly></textarea>
                </div>
                <div class="level">
                    <div class="level-left">
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-large">Call Specialist</button>
                        </div>
                        <div class="level-item">
                            <button class="button is-primary is-large">Complete</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
