<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script> {% if name %}
    <title>Hello {{ name }}!</title>
    {% else %}
    <title>Hello, World!</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
    {% include "header.html" %}
    <div class="container is-fluid" style="margin: 50px">
        <div class="level">
            <div class="level-left">
            </div>
            <div class="level-right">
                <div class="level-item">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="field">
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="file">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Upload Health Card...
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-primary" title="Create Appointment" value="Create Appointment" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <form action="/user/" method="post">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" name ="name" placeholder="Name">
                </div>
            </div>
            <div class="field">
                <label class="label">Health Card ID</label>
                <div class="control">
                    <input class="input" type="text" name ="healthCardId" placeholder="1234-827-012-DR">
                </div>
            </div>
            <div class="field">
                <label class="label">Date of Birth</label>
                <div class="control">
                    <input class="input" type="date" name = "dateOfBirth" placeholder="">
                </div>
            </div>
            <div class="field">
                <label class="label">Sex</label>
                <div class="control">
                    <input class="input" type="text" name= "sex" placeholder="Male/Female">
                </div>
            </div>
            <div class="field">
                <label class="label">Expiration Date</label>
                <div class="control">
                    <input class="input" type="date" name = "expiryDate" placeholder="DD-MM-YYYY">
                </div>
            </div>
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                    <input class="input" type="text" name= "phoneNumber" placeholder="123-456-7890">
                </div>
            </div>
            <div class="field">
                <label class="label">Primary Address</label>
                <div class="control">
                    <input class="input" type="text" name= "primaryAddress" placeholder="123 Road st, Mississauga ON">
                </div>
            </div>
            <div class="field">
                <label class="label">Health Condition/Allergies</label>
                <div class="control">
                    <input class="input" type="text" name= "healthCondition" placeholder="Peanut Allergy,Advil" >
                </div>
            </div>
            <div class="level">
                <div class="level-left">
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="reset" class="button is-danger" />
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-primary" title="Create Appointment" value="Create Appointment" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
