<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script> {% if name %}
    <title>Hello {{ name }}!</title>
    {% else %}
    <title>Hello, World!</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
    {% include "header.html" %}
    <div class="container is-fluid" style="margin: 50px">
        <form>
            <div class="field">
                <label class="label">Describe Your Problem</label>
                <textarea class="textarea" name= "shortDescription" placeholder="Ex. I have a stomach ache. I ate a lot yesterday" style="resize: none"></textarea>
            </div>
            <div class="level">
                <div class="level-left">
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="reset" class="button is-danger" />
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-primary" title="Create Appointment" value="Upload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
